*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior:smooth;
  }
  

body{
    background: linear-gradient(to right, #0b0d0d, #2a4742, #0b0d0d);
    color:white;
    font-family: JetBrains Mono,monospace;  
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;  
    max-width: 100%;
    height: 4.5rem;
}
.nav-logo{
    width: 10rem;
    height: 100%;
    margin-left: 10rem;
}
.nav-text{
    display: flex;
    gap: 1rem;
    margin-right: 10rem;
    font-size: 30px;
}



.hero {
    padding: 60px 20px;
    text-align: center;
    position: relative;
    max-width: 100%;
    height: 70vh;
    border: 2px solid black;
}
.hero-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 30px;
    top: 110px;
    font-family: Montserrat,"sans-serif";
    font-weight: 900;
    font-size: 9vw;
    color: #fa5d02;
    z-index: 0;
}
.hero-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    font-weight: 550;
    line-height: 1;
    text-shadow: 2px 2px 0px black, 
    4px 4px 0px gray, 
    6px 6px 0px darkgray;
    padding: 0;
}
.heading-resistor{
    position: absolute;
    width: 13rem;
    height: 2rem;
    bottom: 50px;
    right: 120px;
}
.hero-subtext {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    opacity: 0.9;
    max-width: 600px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: 2rem;
    padding: 0;
    margin-top: 20px;
}
.hero-image{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 20;
    height: 32rem;
}

.about-event{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.date h2{
    font-size: 2rem;
    font-weight: 600;
    margin: 0.2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.about p{
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0.5rem;
}

.but{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.but select{
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid black;
    width: 10rem;
}

.but a{
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(233, 172, 81, 0.993);
    transition: transform 0.2s, box-shadow 0.2s;
}

.but a:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
}


.events-section {
    display: flex;
    flex-direction: column;
}
.event-heading{
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    background: linear-gradient(45deg, #ff00ff, #ff8800);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.events{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 1rem;
}
.event-card {
    background: #b7c2b3;
    border-radius: 8px;
    overflow: hidden;
    margin: 1rem;
    max-width: 550px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0.3rem;
    box-shadow: 10px 10px 10px -5px rgb(84, 90, 26);
    transition: transform 0.2s, box-shadow 0.2s;
    color: black;
}

.event-img{
    width: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22rem;
}
.event-img img{
    width: 100%;
    height: 100%;
    
    border-radius: 8px;
}
.event-data{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.event-data .event-title{
    font-size: 1.2rem;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    text-decoration: underline;
}
.event-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


.event-image{
    width: 100%;
    height:260px;
    border: 2px solid black;
   
}
.register {
    background: #3c56e7;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin: 0.5rem;
    text-align: center;   
    transition: transform 0.2s, box-shadow 0.2s;
    width: 110px;
    color: whitesmoke;
    gap: 1rem;
}
.register:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Responsive styles */

@media (max-width: 992px) {
    .hero {
        padding: 40px 10px;
    }
    .hero-heading {
        font-size: 2.5rem;
    }

    .hero-text {
        top: 70px;
    }
    .hero-subtext {
        font-size: 0.9rem;
    }

    .heading-resistor{
        position: absolute;
        width: 13rem;
        height: 1.6rem;
        bottom: 55px;
        right: 5px;
        
    }
    .hero-image {
        height: 25rem;
        width: 100%;
    }

}

@media (max-width: 768px) {

    .nav-logo{
        height: 100%;
        margin-left: 0;
    }
    .nav-text{
        margin-right: 1rem;
        font-size: 1.1rem;
    }
    .hero-heading {
        font-size: 2rem;
    }
    .hero-subtext {
        font-size: 0.8rem;
    }
    .heading-resistor{
        position: absolute;
        width: 13rem;
        height: 1.6rem;
        bottom: 55px;
        right: 10px;
        
    }
    .tech-events {
        flex-direction: column;
        align-items: center;
    }
    .event-card {
        max-width: 100%;
    }
}

@media (max-width: 576px) {

   

    .nav-logo{
        height: 100%;
        margin-left: 0;
    }
    .nav-text{
        margin-right: 1rem;
        font-size: 1.1rem;
    }
    .hero{
        height: 71vh;
    }
    .hero-heading {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.4;
    }
    .hero-subtext {
        font-size: 1.1rem;
    }
    .heading-resistor{
        position: absolute;
        width: 13rem;
        height: 1.6rem;
        bottom: 55px;
        right: 40px;
    }

    .but{
        gap: 1rem;
    }

    .register {
        width: 120px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0.8rem;
    }
    .event-heading{
        font-size: 1rem;
        font-weight: 300;
    }

    .event-card {
       
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .event-data{
        margin-top: 5px;
        gap: 7px;
    }

    .about p{
        font-size: 1rem;
        font-weight: 300;
        margin: 0.5rem;
    }

}